<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Blog Title (Left) -->
    <div class="title">
      <a class="navbar-brand h1">{{ "BLOG_TITLE" | translate }}</a>
    </div>

       <!-- Search Box (Center) -->
    <div class="search-box mx-auto">
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </div>
    

      
    <div class="language-buttons">
      <button
        class="btn btn-success btn-lg me-2"
        (click)="translateText('en')"
      >
        English
      </button>
      <button class="btn btn-success btn-lg" (click)="translateText('ur')">
        اردو
      </button>
    </div>
  </div>
</nav>
